@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Elms+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    width: 100%;
    background-color: #f8f5f5;

}

header {
    background-image:  url(img/marisamonte.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 1000px;   
}

nav {
    background-color: rgb(240, 223, 226);
    padding: 5px 0;
    display: flex;
    gap: 70px;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    align-items: center;

}  

 nav a{ 
    color: rgb(180, 16, 95);
    text-decoration:none;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
}

nav > a:hover {
    text-decoration:underline;
    color:  rgb(180, 16, 95);
    margin: 0;
    
}

.marisa{
    color: rgb(180, 16, 95);
    text-decoration: none;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.fino {
    font-family: "Elms Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    text-align: center;
}

.faces {
    color: rgb(180, 16, 95) ;
    font-family: "Elms Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    text-align: center;
}

.obra {
    width: 350px;
    height: 500px;
    margin-left: 100px;
    margin-right: 50px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.obra:hover {
    box-shadow: 7px 5px 7px 7px#0e010137;
}

.vida{
    width: 350px;
    height: 500px;
    margin: 50px;
}

.vida:hover {
    box-shadow: 7px 5px 7px 7px#0e010137;
}

.textos {
    width: 350px;
    height: 500px;
    margin: 50px;
}

.textos:hover {
    box-shadow: 7px 5px 7px 7px#0e010137;
}
.dropdown a {
    position: relative;
    color:  rgb(180, 16, 95);
    text-decoration: none;
}


.submenu {
    display: none;
    position: absolute;
    top: 100%;
    background:  rgb(240, 223, 226);
    min-width: 100px;
    min-height: 5px;
    flex-direction: column;
    padding: 10px;
}

.submenu a {
    display: block;
    padding: 5px 10px;
}

.dropdown:active .submenu {
    display: flex;
}



main {
    padding: 0px;
    color: rgb(1, 1, 1);
}

section {
    padding-top: 10vh;
    padding-bottom: 10vw;
    padding-left: 30px;

}
pre {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

section.single {
    background-image: linear-gradient(rgb(0,0,0,0.4)), url(img/single.webp);
    background-repeat: no-repeat;
    color: white;
    background-size: cover;
    min-height: 100vh;
    margin: 0;
    width: 100%;
    font-family: "Elms Sans", sans-serif;
    font-optical-sizing:auto;
    font-weight: weight;
    font-size: 30px;
    font-style:normal;
}

.single > p {
    font-family: "Elms Sans", sans-serif;
    font-optical-sizing:auto;
    font-weight: weight;
    font-size: 30px;
    font-style:normal;
    text-align: center;

}
.single > h1 {
    font-weight: 200;
    font-size: 80px;
    text-align: center;
    color: #a7a4a4;
}

.linha {
    border: none;
    margin: 10px 50% 30px 50% ;
    height: 80px;
    width: 0.5px;
    background-color: #6f6e6e;
}

.linha1 {
    border: none;
    margin: 10px 50% 30px 50% ;
    height: 100px;
    width: 0.5px;
    background-color: #fffefe;
}

video {
    align-items: center;
    margin: 30px 50% 30px 37% ;
    display: flex;
    max-width: 600px;
}
#veloso:hover {
    box-shadow: 7px 4px 10px 7px #0e010148;;
    padding: 15px;
    border-radius: 20px;
}

#buarque:hover {
     box-shadow: 7px 4px 10px 7px #0e010148;;
    padding: 15px;
    border-radius: 20px;
}
footer {
    text-align: center;
    padding: 5px;
    background-color: #0e0101;
    color: aliceblue;
    font-size: 0.8em;
}